/* * {} */

/*parent container is flex, auto row; items centered on row and spaced 20px between eachother */
#product_Container { 
  display: flex;
  justify-content: center;
  gap: 90px;
}

/*img dimensions fixed; 
height: auto maintains aspect ratio, 
object-fit: contain prevents stretching if differing dimensions*/
#product_Container img {
  width: 200px; /*maybe 250? */
  height: auto;
  object-fit: contain;
}
/* can include,
max-width: 30%;
to account for smaller screen */

/* parent container that will keep children sxs */
#results_Container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  margin-top: 40px;
  /*margin: 50px auto;
  max-width: 1000px;*/
  /*alternative spacing for items */
}

#resultsChart {
  max-width: 800px; /* raised fromm 600 to prevent squishing */
}

#results ul {
  list-style: none;
}

#results li {
  margin-bottom: 6px;
  font-size: 14px;
}